body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(/assets/img/fondo.jpg);
    background-size: 100%;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-form {
    position: relative;
    z-index: 1;
    margin: 40px auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color:dodgerblue; /* verde claro */
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff; /* blanco */
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #444; /* fondo oscuro */
    color: #fff; /* blanco */
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #33CC33; /* verde claro */
    color: #fff; /* blanco */
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #33CC33; /* verde claro */
    color: #fff; /* blanco */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #00CC00; /* verde más claro */
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #33CC33; /* verde claro */
    text-decoration: none;
}

a:hover {
    color: #00CC00; /* verde más claro */
}



.content{
    text-align: center;
}

.content h1{
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-size: 95px;
}

.content h1:hover{
    
    color:blue;
    margin-bottom: 50px;
}



.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}


.nav-img{
    margin-top: 3%;}